{% extends 'base_content.html' %}
{% load lesson_filters %}
{% block content %}

    <div class="container">
    <a href="{% url 'dashboard' %}" class="btn btn-secondary mt-2 mb-3">
        <i class="bi bi-arrow-left-square"></i> Back to Dashboard
    </a>

        <h1 class="mb-2">Lessons</h1>
        {% load lesson_filters %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Teacher</th>
                    <th>Subject</th>
                    <th>Duration</th>
                    <th>Frequency</th>
                    <th>To Do</th>
                    <th>Requested By</th>
                    <th>Notes</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for lesson in list_of_requests %}
                    <tr>
                        <td>{{ lesson.lesson.student.user.full_name }}</td>
                        <td>{{ lesson.lesson.tutor.user.full_name }}</td>
                        <td>{{ lesson.lesson.subject_id.name }}</td>
                        <td>{{ lesson.lesson.duration|format_duration }}</td>
                        <td>{{ lesson.lesson.frequency|format_frequency }}</td>
                        <td>{{ lesson.get_update_option_display }}</td>
                        <td>{{ lesson.made_by }}</td>
                        <td>{{ lesson.details}}</td>
                        <td>
                            {% if user.is_authenticated and user.admin_profile and lesson.is_handled == "N" %}

                                {% if lesson.update_option == '3' and lesson.is_handled == "N"%}
                                    <form action="{% url 'update_lesson' lesson.lesson.id %}" method="post" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to cancell all lessons?');">Cancell Lessons</button>
                                    </form>
                                {% elif lesson.is_handled == "Y" %}
                                    <p>Request already handled</p>
                                {% else %}
                                    <form action="{% url 'update_lesson' lesson.lesson.id %}" method="get">
                                        <button type="submit" class="btn btn-primary" >Handle the Request</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}