{% extends 'base_content.html' %}
{% block content %}
    <div class="container">
    <a href="{% url 'lessons_list' %}" class="btn btn-secondary mb-3">Back</a>

        <h1>Lessons list:</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Feedback</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                    <tr>
                        <td>{{ lesson.date }}</td>
                        <td>{{ lesson.time }}</td>
                        <td>{{ lesson.status }}</td>
                        <td>{{ lesson.feedback }}</td>

                        <td>
                            {% if user.is_authenticated and user.tutor_profile and lesson.status == "Completed" %}
                                <a href="{% url 'update_feedback' lesson.status_id %}" class="btn btn-warning btn-sm">Update Feedback</a>
                            {% endif %}
                            {% if user.is_authenticated and not user.admin_profile and lesson.status == "Booked" %}
                                <a href="{% url 'cancel_lesson' lesson.status_id %}" class="btn btn-warning btn-sm">Cancel Lesson</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}