{% extends 'base_content.html' %}
{% load lesson_filters %}
{% block content %}

    <div class="container">
    <a href="{% url 'dashboard' %}" class="btn btn-secondary mt-2 mb-3">Back to dashboard</a>

        <h1 class="mb-2">Lessons</h1>
        {% load lesson_filters %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Teacher</th>
                    <th>Subject</th>
                    <th>Term Start Date</th>
                    <th>Duration</th>
                    <th>Frequency</th>
                    <th>Notes</th>
                    {% if user.student_profile or user.tutor_profile %}
                        <th>Action</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for lesson in list_of_lessons %}
                    <tr onclick="window.location.href='{% url 'lesson_detail' lesson.id %}'" style="cursor: pointer;">
                        <td>{{ lesson.student.user.full_name }}</td>
                        <td>{{ lesson.tutor.user.full_name }}</td>
                        <td>{{ lesson.subject.name }}</td>
                        <td>{{ lesson.term.start_date }}</td>
                        <td>{{ lesson.duration|format_duration }}</td>
                        <td>{{ lesson.get_frequency_display }}</td>
                        <td>{{ lesson.notes }}</td>
                        {% if user.student_profile or user.tutor_profile %}
                            <td>
                                {% if lesson in can_handle_request %}
                                    <form action="{% url 'request_changes' lesson.id%}" method="get">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary mb-3"
                                            {% if lesson.lesson_id in lessons_with_requests %}disabled{% endif %}>
                                            Update Lesson</button>
                                    </form>
                                {% else %}
                                    {% if lesson.id in lessons_with_requests %}
                                        <p>Request already made</p>
                                    {% else %}
                                        <p>No Booked Lessons</p>
                                    {% endif %}
                                {% endif %}

                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}