{% extends 'base_content.html' %}
{% load lesson_filters %}
{% block content %}

    <div class="container">
    <a href="{% url 'dashboard' %}" class="btn btn-secondary mb-3">Back</a>

        <h1>Lessons</h1>
        {% load lesson_filters %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Teacher</th>
                    <th>Subject</th>
                    <th>Term Start Date</th>
                    <th>Duration</th>
                    <th>Frequency</th>
                    <th>Notes</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for lesson in list_of_lessons %}
                    <tr onclick="window.location.href='{% url 'lesson_detail' lesson.lesson_id %}'" style="cursor: pointer;">
                        <td>{{ lesson.student.user.full_name }}</td>
                        <td>{{ lesson.tutor.user.full_name }}</td>
                        <td>{{ lesson.subject_id.name }}</td>
                        <td>{{ lesson.term_id.start_date }}</td>
                        <td>{{ lesson.duration|format_duration }}</td>
                        <td>{{ lesson.frequency|format_frequency }}</td>
                        <td>
                            {% if user.is_authenticated and user.student_profile and lesson.lesson_id in lessons_with_requests %}
                                <p>Request made: {{ message|get:lesson.lesson_id }} </p>
                            {% else %}
                                <p>—</p>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.is_authenticated and user.student_profile %}
                                {% if lesson in can_handle_requuest %}
                                    <form action="{% url 'request_changes' lesson.lesson_id%}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary mb-3"
                                            {% if lesson.lesson_id in lessons_with_requests %}disabled{% endif %}>
                                            Update Lesson</button>
                                    </form>
                                {% else %}
                                    {% if lesson.lesson_id in lessons_with_requests %}
                                        <p>Request already made</p>
                                    {% else %}
                                        <p>No Booked Lessons</p>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}