{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Lesson Requests</h1>
      <table class="table table-striped">
      <thead>
        <tr>
          <th>Student</th>
          <th>Language</th>
          <th>Time</th>
          <th>Day</th>
          <th>Length</th>
          <th>Frequency</th>
          <th>Status</th>
          <th>Date Requested</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for request in lesson_requests %}
          <tr>
            <td>{{ request.student.user.username }}</td>
            <td>{{ request.language }}</td>
            <td>{{ request.lesson_time }}</td>
            <td>{{ request.lesson_day }}</td>
            <td>{{ request.lesson_length }}</td>
            <td>{{ request.get_lesson_frequency_display }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.created }}</td>
            <td>
                <button type="submit" class="btn btn-primary mb-3">Update Lesson</button>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="8">No lesson requests found.</td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}