{% extends 'base_content.html' %}
{% block content %}
    <div class="container">
    <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary mb-3">Back</a>
        <h1>Tutors</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for tutor in tutors %}
                    <tr>
                        <td>{{ tutor.user.full_name }}</td>
                        <td>{{ tutor.user.username }}</td>
                        <td>{{ tutor.user.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}